<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <form class="form" id ="form">
      <div class="container">
        <input type="text" id="firstName" placeholder="FirstName" />
        <input type="text" id="lastName" placeholder="LastName" />
        <input type="email" id="email" placeholder="Email" />
        <input type="text" id="phoneNumber" placeholder="PhoneNumber" />
        <input type="text" id="company" placeholder="Company" />
        <input type="text" id="position" placeholder="Position" />
        <input type="text" id="userName" placeholder="UserName" />
        <button onclick="">submit</button>
      </div>
    </form>
    <script type="module" src="js/index.js"></script>
  </body>
</html>
